/* .fa-star:before {
    content: '\f005';
}

.rating-list li i.yellow {
    color: #ffd700;
}

.rating-list li i.gray {
    color: #bbb;
}
*/
.list-inline > li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
}

.rating-list li {
    padding: 0px;
}


.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
} 

.rating-list li {
    color: #ddd;
    padding: 10px 5px;
}

.rating-list li:hover,
.rating-list li:hover ~ li {
    color: #ffd700;
}

.rating-list {
    display: inline-flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    list-style: none;
}
