

.board td {
    transition: .3s;
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 30px;
}

.board td:hover {
    background-color: darkorange;
}

body {
    text-align: center;
}

.modal {
    transition: 1s;
    display: none;
    position: block;
    margin: 20px;
}
