body {
    background-color: bisque;
}

.done {
    text-decoration: line-through;
}

.btn-delete {
    border: 0;
    border-radius: 50%;
    background-color: lightcoral;
    cursor: pointer;
    float:right;
}

.btn-delete:hover {
    background-color: brown;
    color:white;
}

.btn-delete:active {
    background-color: red;

}

.add-todo-container {
    background-color: chocolate;
    padding: 10px;
}

h1 {
    color: chocolate;
}

header {
    text-align: center;
}

select#importance-selector:invalid {
    color: gray;
}
#importance-selector option {
    color: black;
}

.required {
    border: 1px solid red;
}